* {
    padding: 0;
    margin: 5px;
    color: #3e4751;
    box-sizing: border-box;
}

html {font-size: 1em;}

body {
  font-family: Circular, -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
}

p {margin-bottom: 0.5em;}

h1, h2,  h4 {
  font-family: Circular, -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif;
  font-weight: inherit;
  line-height: 1;
}

h3 {
font-family: Platform-Medium,sans-serif;
font-weight: inherit;
line-height: 1;
}

h1 {
  margin-top: 0;
  font-size: 4em;
}

h2 {font-size: 3em;}

h3 {font-size: 2.5em;}

h4 {font-size: 1.5em;}

small, .font_small {font-size: 0.618em;}

button {
    transition-duration: 0.4s;
    color: white;
    cursor: pointer !important;
    /* -webkit-transition: background 0.3s, border-color 0.3s !important;
    -moz-transition: background 0.3s, border-color 0.3s !important;
    transition: background 0.3s, border-color 0.3s !important; */
    /* position: relative !important; */
    text-align: center !important;
    text-decoration: none !important;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    border: 2px solid transparent !important;
    border-radius: 4px !important;
    width: auto !important;
    letter-spacing: undefined !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    font-weight: normal !important;
    padding-right: 16px !important;
    padding-left: 16px !important;
    min-width: 51.77708763999664px !important;
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.container-color .container-button-one {
    display: block;
    float:left;
}

.container-button-one {
    display: block;
    float:left;
}

.container-button-two {
    display: block;
    float:left;
}

.container-background {
    display: block;
    float:left;
}

.container-radio {
    display: block;
    float:left;
}

.container-anchor {
    display: block;
    float:left;
}

.colors {
    width: 100px;
    height: 100px;
    color: white;
    float: left;
    display: block;
}

.tan {
    background-color: #D1AB8C;
}

.lt-blue {
    background-color: #B1C6D2;
}

.med-blue {
    background-color: #5E7386;
}

.dk-blue {
    background-color: #373E50;
}

.med-gray {
    background-color: #B5B3B4;
}

.dk-gray {
    background-color: #545454;
}

.btn-radio {
    cursor: pointer !important;
    display: block;
}

.btn-lt-blue {
    background:#B1C6D2;
}

.btn-lt-blue:hover {
    background-color: #373E50
}

.btn-dk-blue {
    background: #373E50;
}

.btn-dk-blue:hover {
    background-color: #B1C6D2
}

.btn-tan {
    background: #D1AB8C;
}

.btn-tan:hover {
    background-color: #B1C6D2
}

.btn-med-gray {
    background: #B5B3B4;
}

.btn-med-gray:hover {
    background-color: #545454;
}


a {
    display: block;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    text-decoration: none;
    filter: brightness(0%);
}

.grey-background {
    background-color: #F8F8F8;
    height: 100px;
    width: 500px;
    display: block;
}

.white-background {
    background-color: #FFFFFF;
    height: 100px;
    width: 500px;
    display: block;
}

